include parts/mixins
block pageVariables
include parts/head
body.container.layout-post
	section.columns
		.column.col-3
		.column.col-6
			p.backbtn: a(href="/") &laquo;&nbsp;back
			main(class=`post ${page.classList}`)
				header.post-header
					h3.post-title #{post.title}
					h4.post-author: small by #{post.author}
					time.post-date(datetime=post.date) #[i.material-icons schedule] #{post.date}
				article.post-body
					block content
				if post.aboutAuthor
					footer.post-footer
						block aboutAuthor
		.column.col-3
include parts/footer